---
---

{% if entry.abbr %}
  {% if site.data.venues[entry.abbr] %}
    <abbr><a href="{{site.data.venues[entry.abbr].url}}" target="_blank">{{entry.abbr}}</a></abbr>
  {% else %}
    <abbr>{{entry.abbr}}</abbr>
  {% endif %}
{% endif %}

<div id="{{entry.key}}">
  {% if entry.type == "thesis" %}
    {{reference}}
  {% else %}

      <!-- <span class="title"><a href="{{ entry.url }}" target="_blank">{{entry.title}}</a></span> -->
      {% if entry.url %}
          <span class="title"><a href="{{ entry.url }}" target="_blank">{{entry.title}}</a></span>
      {% else %}
          <span class="title">{{entry.title}}</span>
      {% endif %}


      <span class="periodical">
      {% if entry.year %}
        {{entry.year}},
      {% endif %}
      {% if entry.type == "article" %}
        {% if entry.pages != "" %}
        <em>{{entry.journal}}</em> {{entry.volume}}, {{entry.pages}}
        {% else %}
        <em>{{entry.journal}}</em> {{entry.volume}}
        {% endif %}
      {% elsif entry.type == "techreport" %}
        {% if entry.series != "" %}
          <em>{{entry.series}}</em> {{entry.number}}, <em>{{entry.institution}}</em>
        {% else %}
          <em>{{entry.institution}}</em> {{entry.number}}
        {% endif %}
      {% elsif entry.type == "inproceedings" %}
        In: <em>{{entry.booktitle}}</em>
      {% elsif entry.type == "incollection" %}
        <!-- in: <em>{{entry.booktitle}}</em>, ed. by {{entry.editor}}, {{entry.address}}: {{entry.publisher}}, {{entry.pages}} -->
        in: <em>{{entry.booktitle}}</em>, {{entry.address}}: {{entry.publisher}}, {{entry.pages}}
      {% endif %}
      </span>

      <span class="author">
      {% assign coauthorlist = entry.author_array | where_exp:"author", "author.last != site.scholar.last_name" %}
      <!-- {#% for author in entry.author_array %#} -->
          {% for author in coauthorlist %}
              {% if forloop.length == 1 %}
                  {% if site.data.coauthors[author.last] %}
                      (With <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>)
                  {% else %}
                      (With {{author.first | truncate: 2, "." }} {{author.last}})
                  {% endif %}
              {% else %}
                  {% if forloop.index == 1 %}
                      {% if forloop.rindex == 2 %}
                          {% if site.data.coauthors[author.last] %}
                              (With <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>
                          {% else %}
                              (With {{author.first | truncate: 2, "." }} {{author.last}}
                          {% endif %}
                      {% else %}
                          {% if site.data.coauthors[author.last] %}
                              (With <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>,
                          {% else %}
                              (With {{author.first | truncate: 2, "." }} {{author.last}},
                          {% endif %}
                      {% endif %}
                  {% else %}
                      {% unless forloop.last %}
                          {% unless forloop.rindex == 2 %}
                              {% if site.data.coauthors[author.last] %}
                                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>,
                              {% else %}
                                  {{author.first | truncate: 2, "." }} {{author.last}},
                              {% endif %}
                          {% else %}
                              {% if site.data.coauthors[author.last] %}
                                  <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>
                              {% else %}
                                  {{author.first | truncate: 2, "." }} {{author.last}}
                              {% endif %}
                          {% endunless %}
                      {% else %}
                          {% if site.data.coauthors[author.last] %}
                              and <a href="{{site.data.coauthors[author.last].url}}" target="_blank">{{author.first | truncate: 2, "." }} {{author.last}}</a>)
                          {% else %}
                              and {{author.first | truncate: 2, "." }} {{author.last}})
                          {% endif %}
                      {% endunless %}
                  {% endif %}
              {% endif %}
          {% endfor %}
      </span>

    <span class="addendum">
    {% if entry.addendum != "" %}
      <em>{{entry.addendum}}</em>
    {% endif %}
    </span>
  {% endif %}

  <span class="links">
  {% if entry.arxiv %}
      <a href="http://arxiv.org/abs/{{ entry.arxiv }}" target="_blank">arXiv</a>
  {% endif %}
  {% if entry.html %}
      <a href="{{ entry.html }}" target="_blank">HTML</a>
  {% endif %}
  {% if entry.pdf %}
      <a href="{{ entry.pdf }}" target="_blank">PDF</a>
  {% endif %}
  {% if entry.supp %}
      <a href="{{ entry.supp }}" target="_blank">Supp</a>
  {% endif %}
  {% if entry.poster %}
      <a href="{{ entry.poster }}" target="_blank">Poster</a>
  {% endif %}
  {% if entry.slides %}
      <a href="{{ entry.slides }}" target="_blank">Slides</a>
  {% endif %}
  {% if entry.code %}
      <a href="{{ entry.code }}" target="_blank">Code</a>
  {% endif %}
  </span>
</div>
